.services {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service-item {
    padding: 7px;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2c3e50;
    border: 1px solid gray;
    width: 21%;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.service-item i {
    font-size: 40px;
}
/* media quairy */
@media (max-width: 920px) {
    .services {
        flex-wrap: wrap;
        padding: 30px 15px;
    }
    .service-item {
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 520px) {
    .service-item {
        width: 90%;
        font-size: 25px;
    }
    .service-item i {
        font-size: 50px;
    }
}